body {
    background: #FFFFFF;
}

/* HEADER */

.container-header {
    position: absolute;
    top: 44px;
    width: 62.5%;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}

/* MENU */

.container-menu {
    display: inline-block;
}

.navegacao-menu {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}

.navegacao-menu:hover,
.navegacao-menu:active {
    cursor: pointer;
}


.navegacao-menu:hover .navegacao,
.navegacao-menu:active .navegacao {
    display: block;
}

.navegacao:hover .navegacao,
.navegacao:active .navegacao {
    display: block;
}

.logotipo {
    display: inline-block;
    margin-left: 43px;
}

.menu {
    display: inline-block;
    position: absolute;
    right: 0;
}

.contato {
    display: inline-block;
    position: relative;
    top: 3px;
    box-sizing: border-box;
    border-right: 1px solid #FFFFFF;
    height: 30px;
    width: 177px;
    padding-right: 43px;
}

.busca {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border-right: 1px solid #FFFFFF;
    height: 30px;
    width: 177px;
    padding-left: 39px;
}

.carrinho {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    height: 30px;
    width: 177px;
    padding-left: 39px;
}

.contato img {
    position: absolute;
    right: 121.03px;
    bottom: 3px;
}

.contato p {
    position: absolute;
    display: inline;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    right: 43px;
    top: 50%;
    transform: translate(0, -50%)
}

.busca p {
    position: absolute;
    display: inline;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    right: 43px;
    top: 50%;
    transform: translate(0, -50%)
}

.carrinho p {
    position: absolute;
    display: inline;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    left: 74px;
    top: 50%;
    transform: translate(0, -50%)
}

.carrinho span {
    position: absolute;
    z-index: -1;
    height: 23px;
    width: 23px;
    background-color: #3EC6E0;
    border-radius: 50%;
    left: 67px;
    top: 50%;
    transform: translate(0, -50%)
}

/* NAVEGAÇÃO */

.navegacao {
    background: #084154;
    position: absolute;
    display: none;
    box-sizing: border-box;
    width: 565px;
    height: 249px;
    left: -30px;
    top: 57.48px;
    border: 2px solid #3EC6E0;
    border-radius: 5px;
    padding: 45px 25px 38px 30px;
}

.navegacao ul {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.navegacao a {
    text-decoration: none;
    transform: translateX(-10%);
}

.navegacao li {
    box-sizing: border-box;
    width: 166px;
    height: 33px;
    padding-left: 16px;
    padding-top: 9px;
}

.navegacao a li:hover,
.navegacao a li:active {
    background: #3EC6E0;
    border-radius: 5px;

}

.navegacao ul h3 {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.navegacao li p {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}

.navegacao-borda {
    position: absolute;
    background: #3EC6E0;
    width: 565px;
    height: 249px;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    z-index: -1;
}

.navegacao-arrow {
    position: absolute;
    display: inline-block;
    background: #3EC6E0;
    width: 18.37px;
    height: 18.37px;
    transform: rotate(135deg);
    z-index: -1;
    left: 30px;
    top: -11.2px;
}

.arrow-link {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
}

/* BANNER - SLICK CAROUSEL */

section {
    position: relative;
}

.slider {
    position: relative;
    top: 0;
}

.slider img {
    width: 100%;
}

/* BANNER INFO */

.banner-texto {
    position: absolute;
    height: 327px;
    width: 420px;
    top: 24.9%;
    right: 24%;
}

.banner-titulo {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: right;
    text-transform: uppercase;
}

.banner-preco {
    color: #3EC6E0;
    font-family: Roboto;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: right;
}

.banner-preco-span {
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    vertical-align: super;
}

.banner-descricao {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: right;
    margin-top: 28px;
    ;
}

/* SLIDER NAV */

.slide-aside {
    position: relative;
    height: 78.1%;
    background: #3EC6E0;
}

.slide-name {
    color: #FFFFFF;
    writing-mode: vertical-rl;
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(50%, 0);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

.line {
    position: absolute;
    border-right: 1px solid #FFFFFF;
    height: 25.7%;
    top: 67%;
    right: 50%;
    transform: translate(50%, 0);
}

.controls {
    position: absolute;
    top: 25.2%;
    right: 0;
    height: 45.7%;
    width: 3.3%;
    background: #084154;
    border-bottom-left-radius: 0.625rem;
}

.slide-count {
    position: absolute;
    color: #FFFFFF;
    top: 84.1%;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
}

.right-arrow {
    position: absolute;
    top: 90.9%;
    right: 20.6%;
}

.left-arrow {
    position: absolute;
    top: 90.9%;
    left: 22.2%;
}

/* BANNERS SECUNDÁRIOS */

.container-banner-secundario {
    position: relative;
    box-sizing: border-box;
    width: 67.4%;
    height: 368px;
    margin: 0 auto;
}

.container-banner-secundario-esquerda {
    display: inline-block;
    position: absolute;
    width: 50%;
    left: 0;
    top: -40.2%;
}

.container-banner-secundario-esquerda img {
    width: 627px;
    max-width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container-banner-secundario-direita {
    display: inline-block;
    position: absolute;
    width: 50%;
    right: 0;
    top: -40.2%;
}

.container-banner-secundario-direita img {
    width: 627px;
    max-width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.retangulo-banner-secundario-esquerda {
    
}

.container-banner-secundario-direita {
}